KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
KEYCLOAK_ISSUER=http://keycloak:8080/realms/favl
KEYCLOAK_DISCOVERY=http://keycloak:8080/realms/favl/.well-known/openid-configuration
KEYCLOAK_CLIENT_ID=agentic-content-os
KEYCLOAK_CLIENT_SECRET=replace-me
NATS_URL=nats://nats:4222
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
CONNECTOR_REGISTRY_URL=http://connector-registry:8001
POSTGRES_USER=favl
POSTGRES_DB=favl
POSTGRES_PASSWORD=change-me
INTERNAL_SERVICE_REGISTRY=testprovider=http://testprovider:9099
WEBHOOK_SIGNING_KEY=dev-signing-key
KEYCLOAK_TOKEN_URL=http://keycloak:8080/realms/favl/protocol/openid-connect/token
CONSOLE_USERNAME=demo
CONSOLE_PASSWORD=demo-password
INTERNAL_SERVICE_TOKEN=generate-with-openssl-rand-hex-32
ALLOW_ANONYMOUS_IDENTITY=false
OUTBOUND_ALLOWED_SCHEMES=http,https
OUTBOUND_ALLOW_PRIVATE_ADDRESSES=true
